#app { height: 100% }

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slidercolors .swiper {
  width: 540px;
  height: 320px;
}

@media (max-width: 866px) {

  .slidercolors .swiper {
    width: 80%;
  }
}
.slidercolors .swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
}

.slidercolors .swiper-slide:nth-child(1n) div {
  background-color: rgba(206, 17, 17, 0.493);
}

.slidercolors .swiper-slide:nth-child(2n) div {
  background-color: rgb(0, 140, 255, 0.493);
}

.slidercolors .swiper-slide:nth-child(3n) div {
  background-color: rgb(10, 184, 111, 0.493);
}

.slidercolors .swiper-slide:nth-child(4n) div {
  background-color: rgb(211, 122, 7, 0.493);
}

.slidercolors .swiper-slide:nth-child(5n) div {
  background-color: rgb(118, 163, 12, 0.493);
}

.slidercolors .swiper-slide:nth-child(6n) div {
  background-color: rgb(180, 10, 47, 0.493);
}

.slidercolors .swiper-slide:nth-child(7n) div {
  background-color: rgb(94, 214, 158, 0.493);
}

.slidercolors .swiper-slide:nth-child(8n) div {
  background-color: rgb(0, 68, 255, 0.493);
}

.slidercolors .swiper-slide:nth-child(9n) div {
  background-color: rgb(218, 12, 218, 0.493);
}

.slidercolors .swiper-slide:nth-child(10n) div {
  background-color: rgb(54, 94, 77, 0.493);
}
